{% extends "layoutAdmin.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/fields.css">
{% endblock styles %}

{% block content %}

    <section class="fields-container">
       
        <div class="content-top">
            <h2>Editando Receita</h2>
            <div>
                <button form="delete-recp" type="submit" id="delete-btn">Delete</button>
                <button form="save-edit" type="submit" id="save-btn">Salvar Receita</button>
            </div>
        </div>
        
        <form id="save-edit" method="POST" action="/admin/recipes?_method=PUT">
            {% include 'admin/fields.njk'%}
            <input type="hidden" name="id" value={{recipe.id}}>
        </form>
        
        <form id="delete-recp" action="/admin/recipes?_method=DELETE" method="post">
            <input type="hidden" name="id" value={{recipe.id}}>     
        </form>
    </section>

{% endblock content %}

{% block scripts %}
    <script src="/scripts/edit.js"></script>
    <script src="/scripts/methods.js"></script>
{% endblock scripts %}