{% extends "layoutAdmin.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/fields.css">
{% endblock styles %}

{% block content %}

    <section class="fields-container">

        <div class="content-top">
            <h2>Criando Receita</h2>
            <div>
                <button id="delete-btn">Delete</button>
                <button id="save-btn">Salvar Receita</button>
            </div>
        </div>
        <div class="field-child">
            <h3>Imagem da receita</h3>
            <input type="url" name="recipe-img">
        </div>
        <div class="field-child" id="ingredients">
            <h3>Ingredientes</h3>

            <div class="ingredient">
                <input type="text" name="ingredients[]" value=""/>
            </div>
        </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

        <div class="field-child" id="methods">
            <h3>Método de preparo</h3>
            <div class="method">
                <input type="text" name="methods[]" value=""/>
            </div>
        </div>
        <button type="button" class="add-method">Adicionar novo passo</button>

        <div class="field-child">
            <h3>Informações adicionais</h3>
            <textarea name="atd-info">
            </textarea>
        </div>
    </section>

{% endblock content %}

{% block scripts %}
    <script src="/scripts/edit.js"></script>
    <script src="/scripts/methods.js"></script>
{% endblock scripts %}