{% extends "layoutAdmin.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/fields.css">
{% endblock styles %}

{% block content %}

    <form method="POST" action="/admin/recipes?_method=PUT">
        <section class="fields-container">

            <div class="content-top">
                <h2>Editando Receita</h2>
                <div>
                    {# <form action="/admin/recipes?_method=DELETE" method="post">
                        <button type="submit" id="delete-btn">Delete</button>
                    </form> #}
                    <button type="submit" id="save-btn">Salvar Receita</button>
                </div>
            </div>
            {% include 'admin/fields.njk'%}
            <input type="hidden" name="id" value={{recipe.id}}>
        </section>
    </form>

{% endblock content %}

{% block scripts %}
    <script src="/scripts/edit.js"></script>
    <script src="/scripts/methods.js"></script>
{% endblock scripts %}