<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Foodfy</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/admin/index.css">
    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <header>
        <div class="header-links">
            <a href="/index">
                <img src="/assets/logo-white.png" alt="Foodfy Logo">
            </a>
        </div>
    </header>

    {% block content %}
    {% endblock content %}


    {% block scripts %}
    {% endblock scripts %}
    {# <script src="/scripts/layoutScr.js"></script> #}
</body>

</html>


