{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/recipe.css">
{% endblock styles %}

{% block content %}
    <div class="food-img">
        <img src="/assets/burger.png" alt="{{recipe.title}}">
    </div>
    
    <div class="recipe-title">
        <h1>Triplo Bacon Burger</h1>
        <p>por Jorge Mateus</p>
    </div>

    <div class="recipe-content">
        <div class="ingred">
            <div class="btns-wrp">
                <h2>Ingredientes</h2>
                <button class="rec-show ingr">MONSTRAR</button>
                <button class="rec-hide ingr">ESCONDER</button>
            </div>

            <ul class="db-data ingr">
                <li><span>ingrediente 1</span></li>
                <li>ingrediente 2</li>
                <li>ingrediente 3</li>
                <li>ingrediente 4</li>
                <li>ingrediente 5</li>
            </ul>
        </div>
        <div class="prepar">
            <div class="btns-wrp">
                <h2>Modo de preparo</h2>
                <button class="rec-show prep">MONSTRAR</button>
                <button class="rec-hide prep">ESCONDER</button>
            </div>

            <ul class="db-data prep">
                <li><span>ingrediente 1</span></li>
                <li>ingrediente 2</li>
                <li>ingrediente 3</li>
                <li>ingrediente 4</li>
                <li>ingrediente 5</li>
            </ul>
        </div>

        <div class="adt-info">
            <div class="btns-wrp">
                <h2>Informações adcionais</h2>
                <button class="rec-show Inf">MONSTRAR</button>
                <button class="rec-hide Inf">ESCONDER</button>
            </div>
            <p class="db-data Inf">Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres!
                <br><br>
                Você sabia que a receita que precede o hambúrguer surgiu no século XIII, na Europa? A ideia de moer a carne chegou em Hamburgo no século XVII, onde um açogueiro resolveu também temperá-la. Assim, a receita foi disseminada nos Estados Unidos por alemães da região. Lá surgiu a ideia de colocar o hambúrguer no meio do pão e adicionar outros ingredientes, como queijom tomates e alface."
            </p>

        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/recipe.js"></script>
{% endblock scripts %}